			body{
				font-family: 'Gotham 4r', verdana;
			}
			
			nav.toc{
				width: 250px;
				right: 0px;
				top: 0px;
				background-color: #ffffff;
				padding:20px
				padding-top: 40px;
			}
			
			nav.mobiletoc{
				top: 470px;
			}
			
			nav.toc a{
				color: #555555;
				width: 100%;
				text-align: left;
				font-size: 12px;
			}
			
			.nav>li>a{
				padding-top: 0px;
				padding-bottom: 0px;
			}
			
			li.cat {
				font-family: 'Gotham 7r', verdana;
			}
			
			li.sub{
				margin-left: 8px;
				font-family: 'Gotham 4r', verdana;
			}
			
			a{
				color: #006BA6;
			}
        
        	a:hover{
        		color: #003B71;
        		text-decoration: underline;
        	}
        	
        	a.nochange{
        		color: inherit;
        		text-decoration: none;
        	}
        	
        	a.nochange:hover{
        		text-decoration: none;
        		color: inherit;
        	}
        	
        	header{
        		margin-bottom: 40px;
        	}
        	
        	ul{
        		padding-left: 0px;
        		list-style-type: none;
        		}
        	
        	h3{
        		padding-top: 20px;
        		padding-bottom: 20px;
        		font-family: 'Gotham 7r', verdana;
        	}
			
        	h4{
        		margin-top: 18px;
        		color: #006BA6;
        	}
        	
        	h5{
        		font-family: 'Gotham 7r', verdana;
        		color: #4A7628;
        	}
        	
        	pre{
        		display: inline-block;
        		width: 40%;
        	}
        	
        	.mbl{
        		background-color: #555555;
        		color: #F2F2F2;
        	}
        	
        	hr{
        		padding-bottom: 30px;
        	}
        	
        	article.toc{
				width: 300px;
				display: inline-block;
        	}
        	
        	.example{
        		display: inline-block;
        		vertical-align: top;
        		margin-left: 150px; 
        		padding:2px;
        	}
        	
        	.mobile-ex{
        		width: 312px;
        		border: 2px solid #bdbdbd;
        		border-bottom: 0px;
        		padding: 15px;
        		border-radius: 2px;
        		margin-left: 30px;
        	}
        	
        	.wide{
        		margin-left: 0px;
        	}
        	
        	.edge{
        		border-right: 2px solid #dddddd;
        	}
        	
        	.tentative{
        		opacity: 0.2;
/*         		background-color: gray;
				background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
 */
        	}
        	
        	.tabblock{
        		display:inline-block;
        		border-right: 1px solid #bdbdbd;
        		border-top: 1px solid #D4D4D4;
        		border-bottom: 1px solid #bdbdbd;
        		background-color: #f3f3f3;
        		text-align: center;
        		padding-right: 20px;
        		padding-left: 20px;
        		padding-top: 8px; 
        		padding-bottom: 8px;
        		cursor: pointer;
        		}
        	
        	.menunav{
        		font-size: 1.071em;
        		color: #444445;
        		text-decoration: none;
        		font-family: 'Gotham 4r', verdana;
        	}
        	
        	.menunav:hover{
        		text-decoration: none;
        		color: #444445;
        		cursor: pointer;
        	}
        	
        	.hover{
        		background-color: #ffffff;
        		border-top: 1px solid #bdbdbd;
        		cursor: pointer;
        		border-bottom: 0px;
        	}
        	
        	li.selected{
        		padding-bottom: 5px;
        		border-bottom: 4px solid #5FA621;
        	}
        	
        	
        	h5.subhead {
        		color: #333;
				font-size: 1em;
				font-weight: bold; 
				font-family: 'Gotham 7r', verdana;
        	}
        	
        	ul.menulinklist{
        		width: 250px;
        		border-right: 1px solid #bdbdbd;
        		padding-right: 10px;
        		display: inline-block;
        		margin-left: 15px;
        		line-height: 1.2;
        		vertical-align: top;
        	}
        	
        	ul.menulinklist li{
        		margin-bottom: 7px;
        	}
        	
        	.columnhead {
        		border-bottom: 1px solid #dddddd;
        		padding-bottom: 10px;
        	}
        	
        	.subhead-under-column{
        		margin-top: 24px;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 0.875em;
        		color: #333;
        	}
        	
        	a.menuitem{
        		color: #006BA6;
				font-size: 0.875em;
				font-family: 'Gotham 4r', verdana; 
				text-decoration: none;
				cursor: pointer;
        	}
        	
        	a.menuitem:hover{
        		color: #003B71;
        		text-decoration: underline;
        		cursor: pointer;
        	}
        	
        	a.hoveritem{
        		color: #003B71;
        		text-decoration: underline;
        		cursor: pointer;
        	}
        	
        	div#alertbar{
        		background-color: #ffffff;
        		border-right: 2px solid #BB1654;
        		border-left: 2px solid #BB1654;
        		border-bottom: 2px solid #BB1654;
				text-align: center;
				width: 390px;
				padding-top: 7px;
				padding-bottom: 7px;
				cursor: pointer;
        	}
        	
        	a#alerttext{
        		font-size: 1em;
        		color: #333;
				font-family: 'Gotham 4r', verdana;
				text-decoration: none;
        	}
        	
        	span.warning{
        		color: #BB1654;
        		font-family: 'Gotham 7r', verdana;
        	}
        	
        	li#greeting{
        		display: inline-block;
        		font-family: 'Gotham 4r', verdana;
        		font-size: 0.929em;
				border-right: 1px solid #555;
				text-align: center;
				padding-left: 10px;
				padding-right: 10px;
				color: #555;
        	}
        	
        	span#username{
        		font-family: 'Gotham 4r', verdana;
        	}
        	
        	span#imperson{
        		font-family: 'Gotham 4r', verdana;
        		color: #BB1654;
        	}
        	
        	a.headerlink{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 0.929em;
        		border-right: 1px solid #555;
				text-align: center;
				padding-left: 10px;
				padding-right: 10px;
				color: #006BA6;
				text-decoration: none;
				cursor: pointer;
        	}
        	
        	a.headerlink:hover {
        		color: #003B71;
        		text-decoration: underline;
        	}
        	
        	
        	a.footerlink{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1em;
        		border-right: 1px solid #555;
				text-align: center;
				padding-left: 10px;
				padding-right: 10px;
				color: #555;
				text-decoration: none;
			}
			

			

			
			.col-title{
				font-size: 1.5em;
				color: #706259;
				font-family: 'Gotham 4r', verdana;
			}
			
			.columnheadimage{
				width: 45px;
				margin-right: 10px;
				display: inline-block;
			}
			
			.col-stat{
				font-family: 'Gotham 4r', verdana;
				font-size: 1.071em;
				display: inline-block;
				float: left;
				margin-bottom: 0px;
				color: #555555;
			}
			
			.statvalue{
				float: right;
			}
			
			.col-row{
				width: 280px;
			}
			
			.col-link{
				color: #006BA6;
				font-family: 'Gotham 4r', verdana;
				font-size: 1.071em;
				margin-bottom: 0px;
				cursor: pointer;
				display: block;
			}
			
			.windex-pagetitle{
				color: #706259;
				font-size: 2em;
				font-family: 'Gotham 7r', verdana;
				padding: 0px;
				margin: 0px;
			}
			
			.windex-body{
				color: #555555;
				font-family: 'Gotham 4r', verdana;
				font-size: 1.071em;
			}
			
			.windex-cards-subhead{
				color: #706259;
				font-family: 'Gotham 4r', verdana;
				font-size: 1.714em;
				margin:0px;
			}
			
			.windex-cards-image{
				width: 310px;
				height: 222px;
				margin-top: 8px;
				margin-bottom: 10px;
			}
			
			img.rows-image{
				width: 140px;
				height: 100px;
				margin-right: 20px;
				display: inline-block;
			}
			
			.windex-breadcrumb{
				color: #706259;
				font-size: 0.929em;
				font-family: 'Gotham 4r', verdana;
				margin-right: 8px;
			}
			
			
			
			.active-breadcrumb {
				color: #006BA6;
				cursor: pointer;
			}
			
			a.active-breadcrumb:hover {
				color: #003B71;
				text-decoration: underline;
				cursor: pointer;
			}
			
			.global-icon-row{
				display: inline-block;
				margin-left: 13px;
			}
			
			.global-icon{
				margin-right: 14px;
				color: #A79C94;
				font-size: 1.714em;
			}
			
			.global-icon:hover{
				color: #706259
			}
			
			.global-icon-separator{
				color: #A79C94;
				margin-right: 14px;
				font-size: 1em;
				position: relative;
				top: -5px;
			}
			
			.global-helpful{	
				font-size: 1.071em;
				font-family: 'Gotham 4r', verdana;
				margin-right: 8px;
				color: #706259;
				position: relative;
				top: -4px;
			}
			
			.global-news-head{
				font-size: 1.286em;
				color: #706259;
				font-family: 'Gotham 7r', verdana;
				padding-bottom: 12px;
				border-bottom: 1px solid #bdbdbd;
				width: 290px;
				padding-left: 10px;
			}
			
			.global-news-link{
				font-size: 0.929em;
				color: #006BA6;
				font-family: 'Gotham 4r', verdana;
				width: 290px;
				padding-left: 10px;
				padding-right: 10px;
			}
			
			.global-related-link{
				font-size: 0.929em;
				font-family: 'Gotham 4r', verdana;
				width: 290px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 7px;
				display:block;
			}
			
        	
        	.rows-subtitle{
        		color: #706259;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.286em;
        	}
        	
        	.submit-comment{
        		background-color: #00A19B;
        		text-align: center;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1em;
        		width: 140px;
        		height: 33px;
        		color: #ffffff;
        		vertical-align: middle;
        		border: 0px;
        		margin-top: 15px;
        		margin-bottom: 5px;
        		cursor: pointer;
        		border-radius: 3px;
        	}
        	
        	.submit-reply{
        		width: 100px;
        		height: 31px;
        		margin-left: 15px;
        		margin-top: 0px;
        	}
        	
        	.legal-text{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 0.643em;
        		color: #555555;
        	}
        	
        	.submit-comment:hover{
        		background-color: #00625C;
        	}
        	
        	div.comments-area{
        		width: 650px;
        		color: #706259;
        		padding: 15px;
        		background-color: #fafbfb;
        	}	
        	
        	div.top-comments-area{
        		width: 650px;
        		color: #706259;
        		padding-right: 45px;
        		padding-left: 45px;
        		padding-top: 15px;
        		padding-bottom: 15px;
        		background-color: #fafbfb;
        	}	
        	
        	
        	.comment{
        		margin-bottom: 25px;
        	}
        	
        	.comment-body{
				color: #555555;
				font-family: 'Gotham 4r', verdana;
				font-size: 0.929em;
				margin-bottom: 6px;	
        	}
        	
        	.comments-intro-text{
        		color: #555555;
				font-family: 'Gotham 4r', verdana;
				font-size: 1.071em;
				margin-bottom: 15px;	
        	}
        	
        	.comment-reply{
        		margin-left: 30px;
        	}
        	
        	.comment-datetime{
        		font-size: 0.8em;
        		color: #a8a8a8;
        	}
        	
			.comments-popular-toggle{
				margin-top: 25px;
				border-bottom: 2px solid #dddddd;
				font-size: 0.929em;
				padding-bottom: 5px;
        	}
        	
        	.reply-box{
        		width: 480px;
        	}	
        	
        	h5.commentsarea-head{
        		color: #6f6158;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.214em;
        		border-bottom: 1px solid #e1e1e1;
        		padding-bottom: 10px;
        	}
        	
        	.searchbar-text{
        		color: #333333;
        		font-family: 'Gotham 4r', verdana;
        		font-size: 0.929em;
        	}

        	
/* 
        	.searchbar-field{
        		border: 1px solid #555555;
        		width: 280px;
        		height: 40px;
        		padding: 10px;
        	}
 */
        	
        	.global-search-bar{
        		width: 280px;
        		height: 40px;
        		padding: 10px;
        		border-radius: 0px;
        		border: 1px solid #555555;
        		resize: none;
        	}
        	
        	.column-button{
        		background-color: #006BA6;
        		text-align: center;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.071em;
        		width: 310px;
        		height: 78px;
        		color: #ffffff;
        		vertical-align: middle;
        		border: 0px;
        		border-radius: 5px;
        		-moz-border-radius: 5px 5px 5px 5px;
				-webkit-border-radius: 5px 5px 5px 5px;
        		margin-right: 8px;
        		cursor: pointer;
        	}
        	
        	.column-button:hover{
        		background-color: #003B71;
        	}
        	
        	.column-image{
        		width: 310px;
        		height: 222px;
        		margin-right: 8px;
        	}
        	
        	.detail-title{
        		font-size: 2em;
				color: #706259;
				font-family: 'Gotham 7r', verdana;
				margin-bottom: 6px;
        	}
        	
        	.detail-subtitle{
				font-size: 1.286em;
				color: #706259;
				font-family: 'Gotham 4r', verdana;   
				margin-top: 6px;     		
        	}
        	
        	.detail-body{
				color: #555555;
				font-family: 'Gotham 4r', verdana;
				font-size: 1.071em;
			}
			
			.detail-subsection-head{
				font-size: 1.714em;
				color: #706259;
				font-family: 'Gotham 4r', verdana;
				margin-bottom: 16px;
			}
			
			.detail-narrative-image{
				float: left;
				width: 310px;
				height: 200px;
				margin-bottom: 10px;
				margin-right: 20px;
			}
			
			.detail-narrative-image-full{
				float: left;
				width: 645px;
				height: 200px;
				margin-bottom: 10px;
				margin-right: 10px;
			}
        	
        	.form-control{
        		font-family: 'Gotham 4r',verdana;
        		font-size: 0.929em;
        	}
 
 			.submitstory-link:hover{
 				text-decoration: none;
 			}
        	
        	.icon-submitstory{
        		font-size: 1.5em;
        		color: #00A19B;
        		margin-right: 5px;
        		position: relative;
        		top: 4px;
        		cursor: pointer;
        	}
        	
        	table.detail-table > tbody > tr:first-child > td {
				border: none;
			}
        	
        	table tbody tr td.detail-table-when{
        		font-family: 'Gotham 7r',verdana;
        		font-size: 1.071em;
        		vertical-align: middle;
        		color: #333333;
        	}
        	
        	table tbody tr td.detail-table-what{
        		font-family: 'Gotham 4r',verdana;
        		font-size: 1.071em;
        		color: #006BA6;
        		vertical-align: middle;
        	}
        	
        	.detail-list-search{
        		height: 31px;
        		width: 486px;
        		border-radius: 0px;
        		resize: none;
        		padding-left: 30px;
        		display: inline-block;
        	}
        	
        	.detail-list-search-icon{
        		position: absolute;
        		top:11px;
        		left:10px;
        	}
        	
        	.detail-list-search-button{
        		display: inline-block;
        		vertical-align: top;
        		background-color: #00A19B;
        		text-align: center;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 0.929em;
        		width: 135px;
        		height: 31px;
        		color: #ffffff;
        		border: 0px;
        		margin-left: 15px;
        		margin-top: 0px;
        		margin-bottom: 0px;
        		cursor: pointer;
        		border-radius: 3px;
        	}
        	
        	.detail-list-search-button:hover{
        		background-color: #00625C;
        	}
        	
        	.detail-list-topcat{
        		margin-left: 20px;
        		margin-bottom: 7px;
        	}
        	
        	.detail-list-lev2doc{
        		margin-left: 47px;
        		margin-bottom: 7px;
        	}
        	
        	.detail-list-lev2cat{
        		margin-left: 47px;
        		margin-bottom: 7px;
        	}
        	
        	.detail-list-lev3doc{
        		margin-left: 74px;
        		margin-bottom: 7px;
        	}
        	
        	.detail-list-topcat-text{
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.286em;	
        		color: #706259;
        	}
        	
        	.detail-list-share-icon{
        		float: right;
        		margin-right: 20px;
        		color: #706259;
        		font-size: 1.286em;
        	}
        	
        	.detail-list-doc-icon{
        		font-size: 1.286em;
        		color: #003B71;
        	}
        	
        	.detail-list-lev2doc-text{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1.071em; 		
        	}
        	
        	.detail-list-lev2cat-text{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1.071em; 
        	}
        	
        	.detail-list-downarrow {
        		font-size: 0.929em;
        		color: #706259;
        		margin-right: 10px;
        	}
        	
        	.search-results {
        		border: 3px solid #00A19B;
        		margin-right: auto;
        		margin-left: auto;
        		padding: 20px;
        		padding-top: 10px;
        	}
        	
        	.search-results-doc {
        		margin-left: 0px;
        		margin-bottom: 7px;
        	}
        	
        	.results-share-icon {
        		margin-right: 0px;
        	}
        	
        	.search-results-title{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1.714em;	
        		color: #706259;
        		margin-bottom: 20px;
        	}
        	
        	.search-results-header{
        		margin-bottom: 20px;	
        	}
        	
        	.support-category{
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.286em;
        		color: #555555;
        		padding-bottom: 18px;
        		padding-right: 20px;
        		text-align: right;
        		line-height: 1;
        		cursor: pointer;
        	}
        	
        	.support-category:hover {
        		color: #000000;   		
        	}
        	
        	.support-subcategory{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1.071em;
        		color: #555555;
        		padding-bottom: 18px;
        		text-align: right;
        		line-height: 1.2;
        		cursor: pointer;
        		width: 124px;
        		display: inline-block;
        	}


        	.support-subcategory:hover{
        		color: #000000;
        		width: 130px;
        	}

        	
        	.support-subcategory:hover + li{
        		display:inline-block;
        	}
        	
        	
        	.activechoice{
        		color: #003B71;
        		width: 130px;
        	}
        	
        	.activechoice:hover{
        		color: #4A7628;
        	}
        	
        	.activechoice + li {
        		display: inline-block;
        	}
        	
        	.activechoice3{
        		background-image: url('../images/triangle-bgimage.png');
        		background-position: right top;
        		background-repeat: no-repeat;
                background-position: right;
        		margin-right: 5px;
        	}
        	
        	.indicator{
        		display: none;
        		margin-right: -3px;
        		float:right;
        	}
        	
        	.indicator span{
        		color: #dddddd;
        		margin-right: -3px;
        	}
        	

        	.support-prompt{
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.286em;
        		color: #555555;
        	}
        	
        	.support-question{
        		margin-bottom: 10px;
        	}
        	
        	.support-question-text{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1.071em; 
        		color: #555555;
        	}
        	
        	.support-question-text-active{
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.071em;
        		color: #003B71; 
        	}
        
        	
        	.support-share-icon{
        		float: right;
        		margin-right: 0px;
        		color: #706259;
        		font-size: 1.286em;
        	}
        	
        	.support-contact-head{
        		font-size: 1.286em;
				color: #706259;
				font-family: 'Gotham 7r', verdana;
				padding-bottom: 12px;
				border-bottom: 2px solid #dddddd;
				width: 290px;
				padding-left: 10px;
        	}
        	
        	.support-contact-category{
        		font-size: 0.929em;
        		color: #555555;
        		font-family: 'Gotham 7r', verdana;
        		padding-right: 10px;
        		padding-left: 10px;
        		margin-bottom:0px;
        	}
        	
        	.support-contact-data{
        		font-size: 0.929em;
        		color: #555555;
        		font-family: 'Gotham 4r', verdana;
        		padding-right: 10px;
        		padding-left: 10px;
        		margin-bottom: 20px;
        	}
        	
        	.icon-support-toggle{
        		color: #00A19B;
        		font-size: 1.286em;
        		margin-right: 5px;
        		position: relative;
        		top: 4px;
        		cursor: pointer;
        	}
        	
        	.container-flyout-tab{
        		display: inline-block;
        		width: 94px;
        		height: 45px;
        		color: #ffffff;
        		background-color: #4A7628;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.071em;
        		text-align: center;
        		padding-top: 12px;
        		transform: rotate(90deg);
        		-webkit-transform: rotate(90deg); 
				-moz-transform: rotate(90deg);	
				box-shadow: 1px 1px 2px #888888;
				position: absolute;
				top: 129px;
				left:0px;
        	}
        	
        	.container-flyout{
        		border: 1px solid #bdbdbd;
  				border-left: 5px solid #4A7628;
  				height: 500px;
  				width: 150px;
  				display: inline-block;
  				padding: 20px;
  				box-shadow: -1px 1px 2px #888888;
  				position: absolute;
				top: 0px;
				left:69px;
        	}
        	
        	.action-tab{
        		top: 25px;
				left:0px;
        	}
        	
        	
        	
        	
        	
        	
        	
        	
/* MOBILE STYLES ------------------------------------------------------------------- */
        	
        	
        	
        	  
        	a.mmenulink{
				font-family: 'Gotham 7r', verdana;
        		font-size: 1em;
        		color: #333;
        		text-decoration: none;
			}
			
			li.mmenublock{
				padding-left: 15px;
				padding-top: 7px;
				padding-bottom: 7px;
				border-bottom: 3px solid #ececec;
				border-left: 0px solid #000;
				display: block;
				width: 200px;
			}
			
			.commonblk{
				background-color: #706259;
			}
			
			a.commonlink{
				color: #fff;
			}
			
			a.mback {
				color: #fff;
			}
			
			li.mback{
				background-color: #003B71;
				padding-top: 5px;
				padding-bottom: 10px; 
			}
			
			li.mselected{
				background-color: #8FCDF0;
			}
			
			li.mselectedlevel2{
				background-color: #C7E6F8;
			}
        		
        	.backarrow{
        		position: relative;
        		top: 2px;
        		font-size: 1.7em;
        		font-family: 'Gotham 4s', verdana;
        		margin-right: 2px;
        	}     
        	
        	li.mfooterlink{
        		display: inline-block; 
        		font-family: 'Gotham 4r', verdana;
        		font-size: 0.688em;
        		border-right: 1px solid #333;
				padding-left: 7px;
				padding-right: 7px;
				line-height: 1;
			}  	
			
			.mfooterlink a {
				text-decoration: none;
				color: #333;
			}       	
        	.mwindex-title{
        		width: 279px;
        		font-family: 'Gotham 7r', verdana;
        		color: #706259;
        		font-size: 1.714em;
        		margin: 0px;
        	}
        	
        	a.mwindex-link{
        		font-family: 'Gotham 4r', verdana;
				font-size: 0.929em;
				color: #006BA6;
        	}
        	
        	.mwindex-body{
        		width: 278px;
        		font-family: 'Gotham 4r', verdana;
				font-size: 0.929em;
				color: #555555;
        	}
        	
        	.mwindex-cards-image{
				width: 280px;
				height: 200px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			
			.mwindex-cards-subhead{
				font-size: 1.429em;
				color: #706259;
				font-family: 'Gotham 4r', verdana;
				margin-bottom: 0px;
				margin-top: 0px;
			}

			.mcolumn-button{
        		background-color: #006BA6;
        		text-align: center;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 0.929em;
        		width: 280px;
        		height: 61px;
        		color: #ffffff;
        		vertical-align: middle;
        		border: 0px;
        		border-radius: 5px;
        		-moz-border-radius: 5px 5px 5px 5px;
				-webkit-border-radius: 5px 5px 5px 5px;
        		cursor: pointer;
        	}
        	
        	.mcolumn-image{
        		width: 280px;
        		height: 200px;
        	}
        	
        	.disabled-button{
        		background-color: #EBE7E4;
        		color: #ffffff;
        	}
        	
        	.disabled-button:hover{
        		background-color: #EBE7E4;
        		color: #ffffff;
        		cursor: default;
        	}
        	
        	.mwindex-rows-subhead{
        		color: #706259;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.071em;
        		margin:0px;
        		padding:0px;
        	}
        	
        	.mdetail-title{
        		font-size: 1.714em;
        		color: #706259;
        		font-family: 'Gotham 7r', verdana;
        		margin: 2px;
        	}
        	
        	.mdetail-subtitle{
        		font-size: 1.429em;
        		color: #706259;
        		font-family: 'Gotham 4r', verdana;
        		margin: 2px;
        	}	
        	
        	.mdetail-narrative-image{
        		width: 280px;
        		margin-bottom: 10px;
        	}
        	
        	.mdetail-bodytext{
        		font-family: 'Gotham 4r', verdana;
				font-size: 0.929em;
				color: #555555;
				width: 280px;
        	}
        	
        	.mdetail-table-row{
        		width: 280px;
        		border-bottom: 2px solid #dddddd;
        		padding-top: 15px;
        		padding-right: 10px;
        		padding-left: 10px;
        	}
        	
        	.mdetail-table-col1{
        		font-family: 'Gotham 7r', verdana;
				font-size: 1.071em;
				color: #333333;
        	}
        	
        	.mdetail-table-col2{
        		font-family: 'Gotham 4r', verdana;
				font-size: 1.071em;
				color: #006BA6;
        	}
        	
        	div.mcomments-area{
        		width: 100%;
        		color: #706259;
        		padding: 15px;
        		background-color: #fafbfb;
        	}	
        	
        	.mcommentsarea-head{
        		color: #706259;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.214em;
        		border-bottom: 1px solid #e1e1e1;
        		padding-bottom: 10px;
        		padding-left: 10px;
        		padding-right: 10px;
        		width: 100%;
        	}
        	
        	.mobile-submit-comment{
        		background-color: #00625C;
        		text-align: center;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 0.929em;
        		width: 100%;
        		height: 33px;
        		color: #ffffff;
        		vertical-align: middle;
        		border: 0px;
        		border-radius: 3px;
        		-moz-border-radius: 3px 3px 3px 3px;
				-webkit-border-radius: 3px 3px 3px 3px;
				margin-top: 10px;
				margin-bottom: 10px;			
        	}
        	
        	.mreply-box{
        		width: 180px;
        	}
        	
        	.mdetail-search{
        		height: 31px;
        		border-radius: 0px;
        		resize: none;
        		padding-left: 30px;
        		font-family: 'Gotham 7r', verdana;
        	}
        	
        	.mdetail-search-icon{
        		position: absolute;
        		top:9px;
        		left:24px;
        	}
        	
        	.mdetail-search-button{
        		display: inline-block;
        		vertical-align: top;
        		background-color: #00A19B;
        		text-align: center;
        		font-family: 'Gotham 7r', verdana;
        		font-size: 0.929em;
        		height: 33px;
        		color: #ffffff;
        		border: 0px;
        		margin-top: 15px;
        		cursor: pointer;
        		border-radius: 3px;
        		width: 100%;
        	}
        	
        	.mdetail-list-topcat{
        		margin-bottom: 7px;
        	}
        	
        	.mdetail-list-lev2doc{
        		margin-left: 23px;
        		margin-bottom: 7px;
        	}
        	
        	.mdetail-list-downarrow{
        		font-size: 0.929em;
        		color: #706259;
        		margin-right: 7px;
        		vertical-align: top;
        		position:relative;
        		top: 5px;
        	}
        	
        	.mdetail-list-lev2cat{
        		margin-left: 23px;
        		margin-bottom: 7px;
        	}
        	
        	.mdetail-list-lev3doc{
        		margin-left: 50px;
        		margin-bottom: 7px;
        	}
        	
        	.mdetail-list-topcat-text{
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.286em;	
        		color: #706259;
        		display: inline-block;
        		width: 85%;
        	}
        	
        	.mdetail-list-share-icon{
        		float: right;
        		margin-right: 0px;
        		color: #706259;
        		font-size: 1.286em;
        	}
        	
        	.mdetail-list-doc-icon{
        		font-size: 1.286em;
        		color: #003B71;
        		vertical-align: top;
        	}
        	
        	.mdetail-list-lev2doc-text{
        		display: inline-block;
        		font-family: 'Gotham 4r', verdana;
        		font-size: 0.929em;
        		width: 70%; 		
        	}
        	
        	.mdetail-list-lev2cat-text{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 0.929em; 
        	}
        	
        	.msearch-results {
        		border: 3px solid #00A19B;
        		margin-right: auto;
        		margin-left: auto;
        		padding: 15px;
        		padding-top: 10px;
        	}
        	
        	.msearch-results-doc {
        		margin-left: 0px;
        		margin-bottom: 7px;
        	}
        	
        	.msearch-results-title{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1.714em;	
        		color: #706259;
        		margin-bottom: 15px;
        	}
        	
        	.msearch-results-header{
        		margin-bottom: 15px;
        	}
        	
        	.msearch-results-docname{
        		font-family: 'Gotham 4r', verdana;
        		font-size: 1.071em; 	
        		display: inline-block;
        		width: 180px;
        	}
        	
        	.msearch-doc-icon{
        		vertical-align: top;
        	}
        	
        	.msupport-topics{
        		width: 100%;
        	}
        	
        	.msupport-topics-top-cat{
        		border-top: 2px solid #dddddd;
        		padding-top: 7px;
        		padding-bottom: 7px;
        	}
        	
        	.msupport-topics-lev2-cat{
        		padding-left: 23px;	
        		font-family: 'Gotham 7r', verdana;
        		font-size: 1.071em;
        		color: #706259;
        		padding-top:10px;
        	}
        	
        	.msupport-topics-question-area{
        		padding-left: 33px;	
        		padding-top: 10px;
        	}
        	
        	.msupport-topics-answer{
        		padding-left: 39px;
        		margin-top: 10px;
        	}
        	
        	.msupport-selected-question a{
        		color: #003B71;
        		font-family: 'Gotham 7r', verdana;
        	}
        	


